@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: "Montserrat", sans-serif;
}

:root {
  --color: #934da3d2;
  --black: #000;
  --white: #fff;
  --red: #ff0000;
}

html,
body {
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
}

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  width: 100%;
  background-color: var(--white);
  top: 0;
  z-index: 4;
}

nav > ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

nav > ul > li > a {
  text-decoration: none;
  color: var(--black);
}

nav > ul > li > a:hover {
  color: var(--color);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.container-content {
  width: 50%;
  padding-left: 50px;
  line-height: 1.5;
}

.contact {
  display: inline-flex;
  padding: 8px 0;
  align-items: center;
}

.social-media {
  display: flex;
  gap: 24px;
  padding-left: 20px;
  font-size: 24px;
}

.container-img {
  position: relative;
  z-index: 0;
}

.container-img > img {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  z-index: 0;
}

.btn {
  display: inline-block;
  border: none;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border: 2px solid var(--color);
  background-color: transparent;
  font-size: 16x;
  font-weight: 700;
  margin-top: 20px;
  width: 180px;
  text-align: center;
  box-shadow: 2px 2px 8px 0px var(--color);
}

.btn-main {
  background-color: var(--color);
  border: 2px solid transparent;
}

.ative {
  color: var(--color);
}

.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.hidden {
  display: none;
}

.menu-btn {
  display: none;
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 3;
}

.navigation {
  position: fixed;
  width: 35%;
  height: 100%;
  background-color: var(--white);
  top: 0;
  right: 0;
  z-index: 3;
  padding: 50px 20px;
  transition: 0.5s ease-in-out;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}

.navigation > ul {
  color: var(--black);
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 10px 20px;
}

.navigation > ul > li > a {
  text-decoration: none;
  color: var(--black);
}

#navigation:checked ~ .overlay {
  display: block;
}

.nav-input {
  position: absolute;
  top: 20px;
  left: 50px;
}

/* Responsive Mobile */
@media screen and (max-width: 768px) {
  .menu-btn {
    display: block;
    cursor: pointer;
  }
  nav > ul {
    display: none;
  }

  .container {
    flex-direction: column;
    margin-top: 50px;
  }

  .container-content {
    width: 100%;
    padding: 20px;
  }

  .btn {
    width: 100%;
    display: block;
    text-align: center;
  }

  .navigation {
    width: 50%;
  }

  .contact-page a {
    font-size: 42px !important;
  }

  .contact-area p {
    font-size: 20px !important;
  }

}

/* Responsive Tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    flex-direction: column;
    margin-top: 50px;
  }

  .container-content {
    width: 100%;
    padding: 20px;
  }

  .button {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
  }

  .contact-page a {
    font-size: 60px !important;
  }

  .contact-area p {
    font-size: 28px !important;
  }
}

/* Animation */
.logo {
  position: relative;
  cursor: pointer;
}

.logo > div {
  user-select: none;
  position: absolute;
  color: var(--color);
  font-size: 18px;
  top: 10px;
  text-shadow: 20px 0 0 var(--color), 40px 0 0 var(--color);
  animation: slide 20s ease-in-out infinite;
}

@keyframes slide {
  0% {
    left: 0;
  }
  50% {
    left: 50px;
  }
  100% {
    left: 0;
  }
}

#circle1 {
  position: absolute;
  border-radius: 50%;
  border: 2px double var(--color);
  right: 4rem;
  bottom: -20px;
  z-index: -1;
  animation: circle1 20s ease infinite;
}

#circle2 {
  position: absolute;
  border-radius: 50%;
  border: 2px dotted var(--color);
  left: 4rem;
  bottom: -20px;
  z-index: -1;
  animation: twirl 60s linear infinite alternate;
}

@keyframes circle1 {
  0% {
    bottom: -20px;
    right: 4rem;
  }
  50% {
    /* right: 3.5rem; */
    bottom: 0;
  }
  100% {
    bottom: -20px;
    right: 4rem;
  }
}

@keyframes twirl {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Contact */
.contact-page {
  padding: 74px 50px;
  width: 100%;
  height: 100%;
  line-height: 1; 
}

.contact-page a {
  color: var(--black);
  text-decoration: none;
  font-size: 80px;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.contact-page a:hover {
  color: var(--color);
}

.contact-area p {
  font-size: 24px;
  padding: 46px 0 0 5px;
}

.contact-area, .contact-other {
  display: flex;
  flex-direction: column;
}

@keyframes slipdown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Info */
.counting {
  padding: 24px 50px;
  text-align: center;
  font-size: 20px;
  line-height: 1.5;
}

.counting > p > span {
  color: var(--red);
}

/* SideBar */
.sidebar{
  padding-top: 65px;
}

.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 25px;
  width: 75px;
  height: 100%;
  z-index: 3;
  transition: 0.5s ease-in-out;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3) inset;
}

.sidebar .btn-bars {
  position: absolute;
  top: 40px;
  right: 30px;
  font-size: 20px;
  cursor: pointer;
}

.sidebar ul li {
  position: relative;
  height: 55px;
  width: 100%;
  list-style: none;
  line-height: 50px;
  padding-left: 20px;
}

.sidebar ul li a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: var(----black);
  transition: 0.1s ease-in-out;
}

.sidebar ul li i {
  top: 0;
  left: 0;
  height: 100%;
  width: 30px;
  text-align: center;
  line-height: 55px;
  font-size: 18px;
}

.sidebar ul li a:hover {
  border-radius: 10px 0 0 10px;
  font-weight: 700;
  box-shadow: 5px 0 8px rgba(0, 0, 0, 0.3) inset;
}

.tooltip {
  position: absolute;
  top: 28px;
  left: 55px;
  transform: translate(0, -50%);
  border-radius: 6px;
  background: var(--white);
  opacity: 0;
  height: 35px;
  width: max-content;
  line-height: 35px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 0 10px;
  pointer-events: none;
}

.sidebar ul li:hover .tooltip {
  opacity: 1;
  transition: 0.3s ease-in-out;
}

.sidebar.show-sidebar {
  width: 240px;
}

.sidebar.show-sidebar .btn-bars {
  right: 20px;
}

.sidebar .list_name{
  position: absolute;
  bottom: 2px;
  opacity: 0;
  transition: 0.2s ease-in-out;
  pointer-events: none;
}

.sidebar.show-sidebar .list_name{
  opacity: 1;
  pointer-events: auto;
  transition: 1.5s ease-in-out;
}

.sidebar.show-sidebar ul li .tooltip {
  display: none;
}

.sidebar.show-sidebar ~ #test {
  padding-left: 240px;
  transition: .5s ease-in-out;
}

#test {
  padding: 65px 0 0 75px;
  transition: .5s ease-in-out;

}

/* Extentions */
.spider_web {
  position: fixed;
  width: 100vw;
  max-width: 220px;
  height: 25vh;
  z-index: 1000;
  background-image: url('/asset/img/spiderweb.png');
  background-size: 100% 100%;
  background-position: 0 0;
  background-repeat: no-repeat;
  filter: drop-shadow(#000 1px 1px 0px) opacity(40%);
  pointer-events: none;
}

.spider_web__top__left {
  top: 0;
  left: 0;
}

.spider_web__bottom__right {
  bottom: 0;
  right: 0;
  rotate: 180deg;
}


